.header__kallyas {
    height: 120vh;
    overflow: auto;
    z-index: 1;
    background: url(https://demo.kallyas.net/conference2/wp-content/uploads/sites/115/2019/12/speaker-gary-vee-2c.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
/*     transform: translate3d(0px, 10px, 0px); */
    background-attachment: fixed, fixed;
    position: relative;
    top: 0;
}
.header__kallyas--blue {
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 110, 0.589);
    position: absolute;
    z-index: 2;
}
.header__kallyasAside {
    width: 70%;
    position: absolute;
    top: 30px;
    left:17%;
  

}

.header__kallyasCaption--top {
    font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
    font-size: 150px;
    font-weight: 800;
    text-align: center;
    color: #1fe8cd;
}

.header__kallyasCaption {
    z-index: 1;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 100px;
    font-weight: 800;
    text-align: center;
    margin-top: -100px;
}

.header__kallyasImg {
    line-height: 1;
    font-size: 30px;
    width: 30%;
    z-index: 3;
    position: absolute;
    top:310px;
    left: 600px;
}

.header__kallyasCenter {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header__kallyasParagraf {
    color: #ffffff;
}

.header__kallyasButton {
    color: #ffffff;
    padding: 15px 20px;
    background: #1fe8cd;
    margin-left:40%;

  
}

.header__kallyasButton:hover {
    background: #17c9b1;
}